<div class="tweet_container">
  <p>
    <% @user_tweets.each do |tweet| %>
      <b><%= @user.handle %></b>  <%= tweet.created_at %>
        <p><%= tweet.message %>
          <form action="/tweets/<%= @user.handle %>/edit" method="get">
            <input type="hidden" name="tweet_id" value="<%= tweet.id %>">
            <input type="submit" value="Edit this bitter 'tude.">
          </form>
        </p>
    <% end %>
  </p>
</div>
<div>
  <form action="/tweets/<%= @user.handle %>/new" method="get">
    <input type="submit" value="Tweet it!">
  </form>
</div>
